:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0; */
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
} */

/* .container {
  width: 80%;
  margin: 0 auto;
} */

header {
  background-color: #35495e;
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 1rem;
}

header nav a, header nav button {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-form, .todo-form {
  background: rgb(123, 145, 190);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}

.auth-form input, .todo-form input {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.auth-form button, .todo-form button {
  padding: 0.5rem 1rem;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  background: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  position: relative;
}

.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.todo-actions button {
  margin-left: 0.5rem;
}

